body{
    padding: 0;
    margin: 0;
    color: #eefffa;
    background-color: #0e0e11;
    font-family: sans-serif;
}
header{
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00ac95;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav-btn{
    text-decoration: none;
    color: #eefffa;
}

.hs-2{
    display: flex;
    gap: 25px;
}

.hs-2 input{
    border: solid #003733 ;
    border-radius: 5px;
    color: #003733;
    background-color: #0e0e11;
}

.p-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    padding: 15px;
}

.p-1 p{
    width: 95%;
    background-color: #89ffe9;
    padding: 30px;
    border-radius: 20px;
    color: #003733;
}

.b-group{
    display: flex;
    padding: 15px;
    gap: 30px;
}

.b-group a{
    text-decoration: none;
    color: #008878;
    padding: 15px;
    border-radius: 20px;
    border: #008878 solid;
}

.acerca-de{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.m-v{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.card-mv{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-color: #003733;
}

.card-mv p{
    color: #89ffe9;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: #003733 solid;
    border-radius: 25px;
    width: 50%;
}

form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.form-section{
    display: flex;
    gap: 20px;
}

.login-btn{
    text-decoration: none;
    color: #008878;
    padding: 15px;
    border-radius: 15%;
    border: #008878 solid;
}

.repositorio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.card-repo img{
    width: 250px;
    border-radius: 5%;
}

.card-repo{
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 70%;
    padding: 20px;
    background-color: #003733;
    border: #036c61 solid;
    color: #eefffa;
    border-radius: 25px;
}

.libros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.book-card img{
    width: 250px;
}

.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 30%;
    background-color: #095850;
    border: #0de7c3 solid;
    border-radius: 25px;
    padding: 20px;
}